/* Revealing 3D Menu CSS */
body
{
	font-family: sans-serif;
	font-size: 100%;
	padding: 0;
	margin: 0;
	color: #333;
	background-color: #221;
}

/* main page */
.mywindow
{
 
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	 
	background-color: #fff;
	 
	width: 100%;
	 
 

}


.mywindow:after
{
	position: absolute;
	content: ' ';
	left: 100%;
	top: 0;
	right: 0;
	bottom: 0;
	background-image: -webkit-linear-gradient(right, rgba(0,0,0,0.2) 0%, transparent 100%);
	background-image: -moz-linear-gradient(right, rgba(0,0,0,0.2) 0%, transparent 100%);
	background-image: -ms-linear-gradient(right, rgba(0,0,0,0.2) 0%, transparent 100%);
	background-image: -o-linear-gradient(right, rgba(0,0,0,0.2) 0%, transparent 100%);
	background-image: linear-gradient(right, rgba(0,0,0,0.2) 0%, transparent 100%);
	pointer-events: none;
}

/* leftnavigation */
leftnav
{
	position: fixed;
	left: -16em;
	top: 0;
	bottom: 0;
	background-color: #654;
	border-right: 50px solid #765;
	box-shadow: 4px 0 5px rgba(0,0,0,0.2);
	z-index: 1;
	cursor: pointer;
}

leftnav:after
{
	position: absolute;
	content: ' ';
	width: 0;
	height: 0;
	right: -70px;
	top: 50%;
	border-width: 15px 10px;
	border-style: solid;
	border-color: transparent transparent transparent #765;
}

leftnav ul
{
	width: 14em;
	list-style-type: none;
	margin: 0;
	padding: 1em;
}

leftnav a:link, leftnav a:visited
{
	display: block;
	width: 100%;
	font-weight: bold;
	line-height: 2.5em;
	text-indent: 10px;
	text-decoration: none;
	color: #ffc;
	border-radius: 4px;
	outline: 0 none;
}

leftnav a:hover, leftnav a:focus
{
	color: #fff;
	background-color: #543;
	text-shadow: 0 0 4px #fff;
	box-shadow: inset 0 2px 2px rgba(0,0,0,0.2);
}

/* hovering */
.mywindow, .mywindow:after, leftnav, leftnav *
{
	-webkit-transition: all 600ms ease;
	-moz-transition: all 600ms ease;
	-ms-transition: all 600ms ease;
	-o-transition: all 600ms ease;
	transition: all 600ms ease;
}

leftnav:hover
{
	left: 0;
}

leftnav:hover ~ .mywindow
{
    
	-webkit-transform: translateX(16em) ;
	-moz-transform: translateX(16em) ;
	-ms-transform: translateX(16em) ;
	-o-transform: translateX(16em) ;
	transform: translateX(16em)  ;
}

leftnav:hover ~ .mywindow:after
{
	left: 60%;
}

/* typography */
footer
{
	margin-top: 2em;
	border-top: 1px dotted #999;
}

h1
{
	font-size: 1.5em;
	font-weight: normal;
	margin: 0 0 0.2em 0;
	border-bottom: 1px solid #555;
}

p
{
	line-height: 1.3em;
	margin: 0 0 1.5m 0;
}